/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  color: #000;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  
}

h2 {
  font-weight: bold;
  font-size: 25px;
  
}


p {
  max-width: 600px;
}



